:root{
  --main-f: #cccccc;
  --main-c: #000000;
  --overlay-f: rgba(0,0,0,.5);
  font-family: Arial, Helvetica, sans-serif;
}

.map {
  display: inline-block;
  position: relative;
}

.map-toolbar {
  width: 0;
  height: 100%;
  position: absolute;
  background-color: var(--main-f);
  z-index: 1;
}

.map-toolbar.map-toolbar--opened {
  width: 50%;
}

.map-toolbar.map-toolbar--opened > .map-form{
  padding: 5px;
}

.map-toggle{
  position: absolute;
  right: -72px;
  width: 72px;
  text-align: inherit;
}

.map-form {
  padding: 0px;
  overflow: hidden;
}

.map-form input {
  box-sizing: border-box;
  width: 100%;
}

.preloader:after{
  content: 'loading...';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: var(--overlay-f);
  font-size: 28px;
  color: var(--main-f);
}